.WeatherTemperature {
    font-size: 18pt;
    height: 100px;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.WeatherExtraInfo {
    font-size: 14pt;
    display:flex;
    margin:auto;
    flex-direction: column;
}

.WeatherData {
    display:flex;
}