.WeatherTemperature {
    font-size: 18pt;
    height: 100px;
    width:210px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.WeatherExtraInfo {
    width:210px;
    font-size: 12pt;
    display:flex;
    margin-left:30px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    list-style-type: none;
}

.WeatherData {
    display:flex;
    max-width:420px;
}

.WeatherExtraInfoItem{
    margin-left:23px;
}

.WeatherTemperatureItem {
    margin-left:auto;
}
