.WeatherTemperature {
    font-size: 18pt;
    height: 100px;
    width:210px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.WeatherExtraInfo {
    width:210px;
    font-size: 12pt;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.WeatherData {
    display:flex;
}

.WeatherTemperatureItem {
    margin-left:20px;
}