.ExtendedWeatherLocation {
    background: gray;
    width: 500px;
    min-height:65vh;
    margin-left:20px;
}

.aLocations {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 65vh;
    overflow: auto;
    padding:10px;
}