@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed');

.App {
    font-family: 'Ubuntu', sans-serif;
    display:grid;
    grid-gap:20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh 80vh;
}

.title {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to letf, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30pt;
    color:white;
    grid-row:0;
    grid-column:span 2;
    display:flex;
    padding-left:30px;
    justify-content: left;
    align-items: center;
}

.ExtendedForecast {
    background: gray
}